.titulo {
    margin: auto;
    width: fit-content;
}

.listado{
    width: 100vw;
    margin-top: 5vh;
}

.lista {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: fit-content;
    max-width: 100%;
    padding: 1%;
    margin: auto;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.lista td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

.lista tr:nth-child(even) {
    background-color: #f2f2f2;
}

.lista tr:hover {
    background-color: #ddd;
}

.lista th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    text-align: center;
}


