<div class="menu">
    <app-menu></app-menu>
</div>

<div class="listado">

    <div class="titulo">
        <h3>Listado de alumnos</h3>
    </div>

    <table class="lista">

        <tr>
            <th> Nombre </th>
            <th> Grado Estudios </th>
            <th> Fecha Nacimiento </th>
            <th> Telefono </th>
        </tr>

        <tr *ngFor="let alumno of alumnosList">
            <td> <a routerLink="/show-alumno/{{alumno.id}}">{{alumno.nombre}}</a> </td>
            <td>{{alumno.gradoEstudiosActual}} </td>
            <td>{{alumno.telefono}}</td>
            <td>{{alumno.email}}</td>
        </tr>
    </table>
</div>