<div class="menu">
    <app-menu></app-menu>
</div>

<div class="mensaje">
    <h1>{{mensaje}}</h1>
</div>

<div class="iniciar" *ngIf="!mensaje">
    <a routerLink="/login">Iniciar Sesion</a>
</div>

<div *ngIf="mensaje" class="autor">
    <p>Elaborado por: Johan Contreras</p>
</div>