.mensaje{
    text-align: center;
    margin-top: 20vh;
    font-size: 15px;
    padding: 2%;
}

.autor{
    position: absolute;
    bottom: 0;
    padding: 2%;
    width: 100%;
}

p{
    display: block;
    text-align: center;
}

.iniciar{
    margin: auto;
    width: fit-content ;
    font-size: 26px;

}

.iniciar a{
    text-decoration: none;
}