.formulario {
    width: fit-content;
    margin: auto;
}

.radio-group{
    width: fit-content;
    margin: auto;
}

.formulario input {
    display: block;
    margin-top: 15px;
    width: 250px;
    height: 25px;
}

.radio-group input{
    height: auto;
    width: auto;
    display: inline;
}

label{
    margin-right: 25px;
}


