<div class="menu">
    <app-menu></app-menu>
</div>

<div class="formulario">
    <form (ngSubmit)="enviar()">
        <input [(ngModel)]="saveAlumno.nombre" type="text" placeholder="Nombre" name="nombre" required maxlength="64">
        <input [(ngModel)]="saveAlumno.apellidoPaterno" type="text" placeholder="Apellido Paterno"
            name="apellidoPaterno" required maxlength="64">
        <input [(ngModel)]="saveAlumno.apellidoMaterno" type="text" placeholder="Apellido Materno"
            name="apellidoMaterno" required maxlength="64">

        <input [(ngModel)]="saveAlumno.fechaNacimiento" type="date" placeholder="Fecha Nacimiento"
            name="fechaNacimiento">

        <div class="radio-group">
            <label> <input [(ngModel)]="saveAlumno.sexo" value="H" type="radio" name="genero" id="H">
                Hombre</label>

            <label><input [(ngModel)]="saveAlumno.sexo" value="M" type="radio" name="genero" id="M"> Mujer</label>


        </div>

        <input [(ngModel)]="saveAlumno.gradoEstudiosActual" type="text" placeholder="Grado Estudios Actual"
            name="gradoEstudiosActual" required maxlength="128">
        <input [(ngModel)]="saveAlumno.email" type="email" placeholder="Email" name="email" required maxlength="128">
        <input [(ngModel)]="saveAlumno.telefono" type="text" placeholder="Telefono (10 digitos)" name="telefono"
            required maxlength="10">

        <input class="boton" type="submit">

    </form>

    <div class="mensaje">
        <p>{{mensaje}}</p>
    </div>
</div>