<div class="menu">
    <app-menu></app-menu>
</div>

<div>
    <table class="lista">
        <tr>
            <th>Nombre</th>
            <td>{{alumno.nombre}}</td>
        </tr>

        <tr>
            <th>Apellido Paterno</th>
            <td>{{alumno.apellidoPaterno}}</td>
        </tr>

        <tr>
            <th>Apellido Materno</th>
            <td>{{alumno.apellidoMaterno}}</td>
        </tr>

        <tr>
            <th>Fecha Nacimiento</th>
            <td>{{alumno.fechaNacimiento}}</td>
        </tr>

        <tr>
            <th>Sexo</th>
            <td>{{alumno.sexo}}</td>
        </tr>

        <tr>
            <th>Grado Estudios</th>
            <td>{{alumno.gradoEstudiosActual}}</td>
        </tr>

        <tr>
            <th>Email</th>
            <td>{{alumno.email}}</td>
        </tr>

        <tr>
            <th>Telefono</th>
            <td>{{alumno.telefono}}</td>
        </tr>

    </table>
</div>