<div class="login main">

    <div class="logo">
        <img src="../../../assets/logo-laudex.png">
    </div>

    <div class="formulario">
        <form (ngSubmit)="enviar()">
            <input type="text" [(ngModel)]="username" name="username" placeholder="Email">
            <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña">
            <input class="boton" type="submit">
        </form>
        <div class="mensaje">
            <p>{{mensaje}}</p>
        </div>
    </div>
</div>