.logo{
margin-top: 20%;
}

img{
    width: 80vw;
    max-width: 500px;
    display:block;
    margin: auto;
}

.formulario {
    margin-top: 15%;
}

.formulario input{
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 200px;
}

.boton {
    height: 30px;
}

.mensaje p{
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 10%;
    color: rgb(235, 64, 12);
}