.menu{
    display: block;
    margin: auto;
    width: 100%;
    background-color:rgb(93, 206, 70);
    border-bottom: solid 2px black;

}

ul{
    padding: 20px;
    margin: auto;
    width: fit-content;
}

li{
display: inline;
padding: 10px;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

a:hover{
    color: white;
}