<div class="menu" *ngIf="mensaje">
    <ul class="nav">
        <li><a routerLink="/">Inicio</a> </li>
        <li><a routerLink="/alumnos">Consulta</a> </li>
        <li><a routerLink="/save-alumno">Agregar</a></li>
        <li><a (click) = "logout()" href="//">Salir</a></li>
    </ul>
</div>